.text-color{
    color:#00B2B6;
}
 
.fa-star{
    color: #00B2B6;
}
.fa-star-half-alt{
    color: #00B2B6;
}
.card2{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow:0px 0px 10px #a0c1c2;
    max-width: 90%;
    margin-top: 0;
    padding: 50px 0px;
}
.text-followers{
    text-align: center;
    margin-bottom: 0;
}
.text-followers2{
    margin-top: 0;
    font-size:18px;
    text-align: center;
 
}
.icon{
    color: #00B2B6;
    font-size: 2.5rem;
}
.d-flex{
    justify-content: space-around;
}
/* background linear-gradient(to right, rgba(130,190,66,1) 0%,rgba(48,178,210,1) 50%,rgba(28,76,147,1) 100%); */